<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LocalPath" value="C:/temp/MARS Analytics/DEEPER"/>
		<add key="FilePrepend" value="MARSTroubleshooting_SessionData"/>
		<add key="DayInterval" value="7"/>
		<add key="ExcludeFuturusData" value="true"/>
	</appSettings>
</configuration>